.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  @include vendor(box-sizing,border-box);
  font-family: sans-serif;
}

a { 
  display: inline-block;
  cursor: pointer;
  @include vendor(transition,.5s ease);
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 91.2%; 
  margin: 0 auto;
}

h1 { @include flex-basis(20%); }

h2 {
  @include position(absolute,unset,unset,unset,10%,15%);
  color: $white;
  font: $bold $forty-five $sans-serif;
  text-transform: capitalize;

  span { text-transform: lowercase; }
}

h3 {
  font-size: $thirty-six;
  text-transform: capitalize;
}

p { font-size: $nineteen; }

.mobile-image { display: none; }

@include breakpoint('ipad') {
  .mobile-image { display: block; }

  .desktop-image { display: none; }
}