// colors
$white : #fff;
$primary : #f7910b;
$secondary : #12466e;
$grey : #767676;
$border : #ddd;
$blue : #165788;
$sky-blue : #009fda;
$transparent : transparent;
$light-grey : #b0b1b3;
$light-primary : #f27f0c;

// font-weight
$bold : bold;

// fonts size
$ten : 10px;
$twelve : 12px;
$sixteen :16px;
$nineteen : 19px;
$twenty : 20px;
$twenty-two : 22px;
$forty-five : 45px;
$forty : 40px;
$thirty-six : 36px;
$seventy-five : 75px;
$eighty : 80px;

// font-family
$sans-serif : sans-serif;
$font-awesome : FontAwesome;

// Breakpoints
$notebook: 1024px;
$ipad: 995px;
$phone: 767px;
$iphone: 550px;
$small-iphone: 320px;