// colors
$white : #fff;
$primary : #f7910b;
$secondary : #12466e;
$grey : #767676;
$border : #ddd;

// font-weight
$bold : bold;

// fonts size
$twelve : 12px;
$sixteen :16px;
$nineteen : 19px;
$twenty : 20px;
$forty-five : 45px;
$forty : 40px;
$thirty-six : 36px;
$seventy-five : 75px;

// font-family
$sans-serif : sans-serif;
$font-awesome : FontAwesome;

// Breakpoints
$notebook: 1024px;
$ipad: 995px;
$phone: 767px;
$iphone: 550px;
$small-iphone: 320px;